<!DOCTYPE html>
<html>
<head lang="cn">

    <include file="./Public/HomeCommon/head.html" />

</head>
<body>


<div class="ui container">

    <include file="./Public/HomeCommon/nav.html" />
    <div class="ui grid">
        <div class="sixteenth wide column">
            <form class="" action="__URL__/register" method="post">
              <table class="ui table">
                <tr>
                  <td>
                      手机号码：
                  </td>
                  <td>
                    <div id="phone"  class="ui input">

                        <input type="text" name="phone"  disabled="disabled" value="{$data.phone}">
                        <input type="hidden" name="phone_last" value="{$data.phone}">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="ui input">
                      <button type="button" id="send_button">发送短信验证码</button>
                    </div>
                  </td>
                  <td>
                    <div class="ui input">
                        <input type="text" name="smscode" placeholder="验证码"
                        data-rule="验证码: required; remote[post:__APP__/Login/Index/ajaxCheckSmsVerity, smscode, phone];">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    密码：
                  </td>
                  <td>
                    <div id="" class="ui input">

                        <input type="password" name="passwd"
                        data-rule="密码: required; ">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      确认密码：
                  </td>
                  <td>
                    <div id="" class="ui input">
                        <input type="password" name="reppasswd"
                        data-rule="确认密码: required; match[passwd];">
                    </div>
                  </td>
                </tr>
              </table>

                <input class="ui primary button" type="submit"  value="提交">
            </form>
        </div>

    </div>

</div>

</body>

<include file="./Public/HomeCommon/js.html" />
<script type="text/javascript">

$(document).ready(function(){
    // layer.alert('{$Think.post.phone}');


    function jump(wait){
      window.setTimeout(function(){

                if (wait == 0) {
                    // $('#send_button').css("background","orangered");
                    $('#send_button').text('发送短信验证码');
                    $('#send_button').removeAttr('disabled','disabled');
                    wait = 120;
                } else {
                    // $('#send_button').css("background","grey");
                    $('#send_button').attr('disabled','disabled');
                    $('#send_button').text('重新发送（'+wait+'）');
                    wait--;
                    jump(wait);
                }

            }, 1000);
    }

    $('#send_button').click(function(){
      var phonenum="{$Think.post.phone}";

      $.post("__APP__/Login/Index/sendSms",{phonenum:phonenum},function(data,status){

      //data的返回值就是php的返回值 是开发者决定
      //status 的返回值 代表请求是否成功 success error

      console.log(data);
      console.log(status);

      if (data == 1) {
          layer.alert("发送成功,10分钟有效");
          jump(60);
      } else if (data == 2) {
          layer.alert("黑名单,请联系管理员");
      } else if (data == 3) {
          layer.alert("今天超过5次");
      } else if (data == 0) {
          layer.alert("短信发送失败");
      }

  });

    });

});







</script>

</html>
