<!DOCTYPE html>
<html>
<head lang="cn">
      <title>画廊</title>
    <include file="./Public/HomeCommon/head.html" />

</head>
<body>


<div class="ui container">

    <include file="./Public/HomeCommon/nav.html" />

    <div class="ui grid">

        <div class="three wide column">
            <table class="ui basic table">
              <thead>
                <tr>
                  <th> <a href="__APP__/Home/Index/gallery">全部分类</a></th>
                </tr>
              </thead>
              <tbody>
                 <volist name="list" id="vo">
                     <tr>
                         <td>

                             <if condition="$vo.lev eq 1">
                                 <a href="__APP__/Home/Index/gallery/cid/{$vo.goodscat_id}">|--{$vo.goodscat_name}</a>
                                 <elseif condition="$vo.lev eq 2" />
                                 &nbsp;&nbsp;&nbsp;&nbsp;  <a href="__APP__/Home/Index/gallery/cid/{$vo.goodscat_id}">|--{$vo.goodscat_name}</a>
                             </if>

                         </td>
                      </tr>
                 </volist>
              </tbody>
            </table>
        </div>

        <div class="thirteen wide column">
            <div class="ui segment">
                <!-- 筛选 -->
                颜色
                <a href="javascript:void(0)" data-color="all">全部</a>
                <a href="javascript:void(0)" data-color="red">红色</a>
                <a href="javascript:void(0)" data-color="white">白色</a>
                <a href="javascript:void(0)" data-color="blue">蓝色</a>

                <br>
                价格
                <a href="javascript:void(0)" data-price="all">全部</a>
                <a href="javascript:void(0)" data-price="3">3000以下</a>
                <a href="javascript:void(0)" data-price="1">3001-6000</a>
                <a href="javascript:void(0)" data-price="2">6000以上</a>

            </div>

            <div class="ui four item menu">
                <a class="item" data-price-2="lowtohigh">价格从低到高</a>
                <a class="item" data-price-2="hightolow">价格从高到低</a>
                <a class="item" data-time="asc">要到期的放在前面</a>
                <a class="item" data-time="desc">要到期的放在后面</a>
            </div>


            <div class="ui link cards">

                <volist name="goodsList" id="goodsvo">
                    <div class="card" >
                      <a href="__APP__/Home/Index/goods/goods_id/{$goodsvo.goods_id}"><img width="260px" height="260px" src="{$goodsvo.goods_pic}" alt="" /></a>
                      <div class="content">
                        <div class="header">{$goodsvo.goods_name}</div>
                        <div class="description">{$goodsvo.goods_desc}</div>
                      </div>
                      <div class="extra content">
                        <span class="right floated">{$goodsvo.goods_createtime|date="Y-m-d  ",###}</span>

                        <span><i class="user icon"></i> {$goodsvo['goods_price']/100}元</span>
                      </div>
                    </div>

                </volist>
            </div>

        </div>
    </div>

</div>

</body>

<include file="./Public/HomeCommon/js.html" />

<script type="text/javascript">
    $(document).ready(function(){

        $("[data-color]").click(function(){
            var newvalue = $(this).attr("data-color");
            var oldvalue = "{$Think.get.color}";
            // console.log(newvalue);
            // console.log(oldvalue);
            var reg = new RegExp('/color/' + oldvalue);
            // alert(newvalue);
            if (newvalue == "all") {
                location.href="__SELF__".replace(reg,"");
            } else {
                if (oldvalue == "") {
                    location.href="__SELF__"+"/color/"+newvalue;

                } else {
                    location.href="__SELF__".replace(reg,"/color/"+newvalue);
                }
            }

        });


        $("[data-price]").click(function(){
            var newvalue = $(this).attr("data-price");
            var oldvalue = "{$Think.get.price}";
            // console.log(newvalue);
            // console.log(oldvalue);
            var reg = new RegExp('/price/' + oldvalue);
            // alert(newvalue);
            if (newvalue == "all") {
                location.href="__SELF__".replace(reg,"");
            } else {
                if (oldvalue == "") {
                    location.href="__SELF__"+"/price/"+newvalue;

                } else {
                    location.href="__SELF__".replace(reg,"/price/"+newvalue);
                }
            }
        });

        $("[data-price-2]").click(function(){
            var newvalue = $(this).attr("data-price-2");
            var oldvalue = "{$Think.get.price_2}";
            // console.log(newvalue);
            // console.log(oldvalue);
            var reg = new RegExp('/price_2/' + oldvalue);
            // alert(newvalue);
                if (oldvalue == "") {
                    location.href="__SELF__"+"/price_2/"+newvalue;
                } else {
                    location.href="__SELF__".replace(reg,"/price_2/"+newvalue);
                }
        });

        $("[data-time]").click(function(){
            var newvalue = $(this).attr("data-time");
            var oldvalue = "{$Think.get.time}";
            // console.log(newvalue);
            // console.log(oldvalue);
            var reg = new RegExp('/time/' + oldvalue);
            // alert(newvalue);
                if (oldvalue == "") {
                    location.href="__SELF__"+"/time/"+newvalue;
                } else {
                    location.href="__SELF__".replace(reg,"/time/"+newvalue);
                }
        });

        $('#searchbtn').click(function () {
          var newvalue = $('#search').val();
          // alert(val);
          var oldvalue = "{$Think.get.keyword}";
          var reg = new RegExp('/keyword/' + oldvalue);
          if (oldvalue == "") {
              location.href="__SELF__"+"/keyword/"+newvalue;
          } else {
              location.href="__SELF__".replace(reg,"/keyword/"+newvalue);
          }
        });


    });
</script>


</html>
