<!DOCTYPE html>
<html>
    <head>

        <title>首页</title>
        <include file="./Public/HomeCommon/head.html" />
    </head>
    <body>

        <body>


        <div class="ui container">
            <include file="./Public/HomeCommon/nav.html" />

            <div class="ui grid">
                <div class="sixteen wide column">

                  <h1>这是首页</h1>
                </div>

            </div>

        </div>

        </body>

    </body>
    <include file="./Public/Common/js.html" />
</html>
